<link rel="stylesheet" href="/web/login/login.css">
<script src="/web/login/login.js"></script>
<div id="login">
	<div class="login_header">
		Exciting-Hub
	</div>
	<div class="login_body">
		<div class="login_body_nav" flex="main:center">
			<a href="javascript:;">登录</a>
			<a href="javascript:;">注册</a>
			<span class="login_body_nav_slider"></span>
		</div>
	</div>
</div>