<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Exciting-Hub</title>
	<link rel="icon" href="../images/exciting.jpg" type="image/x-icon">
	<link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
	<link rel="stylesheet" href="../css/libs/flex.css">
	<link rel="stylesheet" href="../css/global.css">
	<script src="../js/libs/jquery.min.js"></script>
	<script src="../js/libs/ejs.js"></script>
	<script src="../js/libs/axios.min.js"></script>
	<script src="../js/util.js"></script>
</head>
<body>
	<div id="main" style="display: relative;">
		<%-body%>
	</div>
</body>
</html>