<div>
    <div id="app" style="background-color: #ffffff">
        <router-view></router-view>
    </div>
</div>
<style>
	#app{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
</style>
<script src="/web/homePage/dist/build.js"></script>