<div>
	<p><%=user._id%></p>
	<p><%=user.nickname%></p>
	<p><%=user.account%></p>
    <div id="app" style="background-color: #ffffff">
        <router-view></router-view>
    </div>
</div>
<script src="/web/homePage/dist/build.js"></script>
