<div>
    <div id="app" style="background-color: #ffffff">
        <router-view></router-view>
    </div>
</div>
<style>
	#app{
		position: relative;
		min-height: 100%;
	}
</style>
<script src="/web/homePage/dist/build.js"></script>

