/**
 * 
 * @ 进行全局标签初始化
 * 
 * -------------------------------------------------------
 * 
 */
 a, abbr, acronym, address, html,applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video,input {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	vertical-align: baseline;
 	word-wrap: break-word;
 	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
 	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 	font-size: 12px;
 }
 button, input, select, textarea {
 	outline: 0;
 	-webkit-box-sizing: border-box;
 	border: none;
 }
 button, a{
	cursor: pointer;
 }
 li, ol, ul {
 	list-style: none
 }
 a {
 	color: #333;
 	text-decoration: none;
 	border:none;
 	-webkit-tap-highlight-color: rgba(0,0,0,0);
 	-webkit-tap-highlight-color:transparent;
 	outline:none;
 }
 img {
 	max-width: 100%;
 	vertical-align: middle;
 	border: 0;
 	-ms-interpolation-mode: bicubic;
 	-webkit-touch-callout: none
 }
 input::-webkit-input-placeholder { /* WebKit browsers*/ 
 	　　color:#999;
 　　}
 input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
 	　　color:#999;
 　　}
 input::-moz-placeholder {  /* Mozilla Firefox 19+*/ 
 	　　color:#999;
 　　}
 input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
 	　　color:#999;
 }
 /**
 * 
 * @ layout.ejs 样式
 * 
 * -------------------------------------------------------
 * 
 */
 #main{
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 }
 #loading {
 	position: fixed;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    display: none; 
    // background: url(/images/loading.gif) no-repeat center;
    // background-size: 60px;
    border-top: 6px solid #3498db;
    border-right: 6px solid green;
    border-bottom: 6px solid red;
    border-left: 6px solid #e0e033;
    border-radius: 50%;
    animation: spin .9s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
