

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>test</title>
	<link rel="stylesheet" href="web/test/test.css">
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/d3.js"></script>
	<script src="web/test/test.js"></script>
</head>
<body>
	<h1>test-D3.js</h1>
</body>
</html>